
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="web/backend/css/table.css" rel='stylesheet'>
</head>
<body>
<h1>商品列表</h1>
<hr />
<table border='1' class="table table-striped table-hover table-condensed">
<?php foreach($Product as $rec){ ?>
	<tr>
		<td><?php echo $rec['pro_name'] ?></td>
		<td><?php echo $rec['price'] ?></td>
		<td><?php echo $rec['protype_id'] ?></td>
		<td><?php echo $rec['pinpai'] ?></td>
		<td><?php echo $rec['chandi'] ?></td>
		<td><a href='index.php?p=backend&c=Product&a=delete&id=<?php echo $rec['pro_id'] ?>'>删除</a></td>
	</tr>
<?php 
} 
?>
</table>
当前产品总数：<?php  echo $Count; ?>
</body>
</html>